* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


:root {
    --GT: 'GT, sans-serif';
    --AR: 'AR, sans-serif';
    --ME: 'ME, sans-serif';
    --MM: 'MM, sans-serif';
    --MB: 'MB, sans-serif';
    --PB: 'PB, sans-serif';
    --PE: 'PE, sans-serif';
    --PM: 'PM, sans-serif';
    --MS: 'MS, sans-serif';
    --SR: 'SR, sans-serif';
    --bg: #F0E4CF;
    --green: #4FAD84;
    --violet: #8265E0;
    --white: #FFFFFF;
    --text-menu: #1A2147;
    --dark-green: #214937;
}

body {
    background: var(--white);
}

.container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.green__btn {
    font-family: var(--PE);
    font-size: 22px;
    font-weight: 800;
    line-height: 24px;
    color: var(--green);
    padding: 22px 36px;
    background: none;
    max-width: 251px;
    border-radius: 8px;
    transition: 0.3s;
    border: 1px solid #4FAD84;
    border-radius: 8px;
    text-align: center;
}

.green__btn:hover {
    color: var(--white);
    background: var(--green);
}

.white__btn:hover {
    color: var(--white);
    background: var(--green);
}

.white__btn {
    text-align: center;
    border: 1px solid #4FAD84;
    border-radius: 8px;
    font-family: var(--PE);
    font-size: 22px;
    font-weight: 800;
    line-height: 24px;
    color: var(--green);
    padding: 22px 36px;
    background: none;
    max-width: 202px;
    border-radius: 8px;
    transition: 0.3s;
}

.purple__btn {
    font-family: var(--PE);
    font-size: 22px;
    font-weight: 800;
    line-height: 24px;
    color: var(--white);
    transition: 0.3s;
}