.header {
    background: var(--bg);
}

.nav__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
}

.nav__menu-link-span {
    font-size: 12px;
}

.nav__menu-link {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.nav__menu-link a {
    font-family: var(--GT);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-menu);
    transition: 0.3s;
}

.nav__menu-link a:hover {
    color: var(--violet);
}

.nav__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.nav__btn-none {
    background: none;
    font-family: var(--PE);
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: var(--violet);
    padding: 12px 24px;
    border: 1px solid #8265E0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.nav__btn-none:hover {
    background: var(--violet);
    color: var(--white);
}

.nav__btn-purple:hover {
    background: var(--violet);
    color: var(--white);
}

.nav__btn-purple {
    background: none;
    font-family: var(--PE);
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: var(--violet);
    padding: 12px 24px;
    border: 1px solid #8265E0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.banner {
    height: 1179px;
}

.banner__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.banner__desc-h {
    font-family: var(--PE);
    font-size: 72px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--text-menu);
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.banner__desc-span {
    font-family: var(--SR);
    font-size: 76px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #387B5E;
}

.banner__desc-p {
    font-family: var(--GT);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: var(--text-menu);
    display: flex;
    flex-direction: column;
}

.invoice {
    display: flex;
    align-items: flex-start;
    margin-top: 80px;
    justify-content: center;
}

.invoice img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:992px) {
    .nav__wrap {
        flex-direction: column;
        gap: 40px;
    }

    .banner__desc-h {
        font-size: 60px;
        line-height: 70px;
    }

    .banner__desc-span {
        font-size: 62px;
        line-height: 70px;
    }

    .banner__desc-p {
        font-size: 20px;
        line-height: 26px;
    }

    .banner__desc {
        gap: 25px;
    }
}

@media screen and (max-width:540px) {
    .nav__wrap {
        gap: 30px;
    }

    .banner__desc-h {
        font-size: 48px;
        line-height: 55px;
    }

    .banner__desc-span {
        font-size: 48px;
        line-height: 55px;
    }

    .banner__desc-p {
        font-size: 16px;
        line-height: 22px;
    }

    .banner__desc {
        gap: 20px;
    }
}
@media screen and (max-width:420px){
    .banner__desc-h {
        font-size: 35px;
        line-height: 40px;
    }

    .banner__desc-span {
        font-size: 35px;
        line-height: 40px;
    }

    .banner__desc-p {
        font-size: 14px;
        line-height: 18px;
    }
    .nav__btn-none{
        padding: 8px 18px;
    }
    .nav__btn-purple{
        padding: 8px 18px;
    }
    .nav__menu{
        gap: 20px;
    }
}