.green__btn {
    font-family: var(--PE);
    font-size: 22px;
    font-weight: 800;
    line-height: 24px;
    color: var(--white);
    padding: 22px 36px;
    background: var(--green);
    max-width: 251px;
    border-radius: 8px;
}

.white__btn {
    padding: 22px 36px;
    max-width: 202px;
    font-family: var(--PE);
    font-size: 22px;
    font-weight: 800;
    line-height: 24px;
    color: var(--green);
    background: none;
    border: 1px solid #4FAD84;
    border-radius: 8px;
}

.purple__btn {
    font-family: var(--PE);
    font-size: 22px;
    font-weight: 800;
    line-height: 24px;
    color: var(--white);
}